= link_to 'Edit', edit_patient_medical_treatment_path(patient_id: @patient.id, id: @medical_treatment.id, locale: I18n.locale),  {id: 'edit_patient_medical_treatment_path_js', :class=>'btn btn-default btn-sm', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ajax_modal', "data-dismiss" => "modal", 'data-url' => edit_patient_medical_treatment_path(patient_id: @patient.id, id: @medical_treatment.id, locale: I18n.locale)}
%button.btn{"data-dismiss" => "modal", :type => "button"} Close
