= link_to 'Print reciept', patient_medical_treatment_receipt_path(patient_id: @patient.id, medical_treatment_id: @medical_treatment.id, locale: I18n.locale, format: 'msword')
= link_to 'Edit', edit_patient_medical_treatment_path(patient_id: @patient.id, id: @medical_treatment.id, locale: I18n.locale),  {id: 'edit_patient_medical_treatment_path_js', :class=>'btn btn-default', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ajax_modal', "data-dismiss" => "modal", 'data-url' => edit_patient_medical_treatment_path(patient_id: @patient.id, id: @medical_treatment.id, locale: I18n.locale)}
%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
