%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
%button.btn.btn-default{type: "submit", :type => "button", id: "new_medical_treatment_form_submiter", data: {disable: {with: 'Submiting ...'}} } Add
