.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					%h2 Medical Treatment Type Detail
				.panel-body
					.div_action
						.col-md-4
						.col-md-4.text-center
						.col-md-4.text-right
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + ' Back', medical_treatment_types_path, :class=>'btn btn-default'
						%table.table.table-bordered.table-hover.table-condensed.detail-table
							- generate_show_page_item 'Name', @medical_treatment_type.name
							- generate_show_page_item 'Price', @medical_treatment_type.price