<%= simple_form_for(@bank_deposit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type, :collection => BankDeposit::TYPES.sort.map {|k,v| [v,k]}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
