.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					%h2 My Patients
				.panel-body

					%table.table.table-striped.table-bordered.table-hover.table-condensed
						%tr
							%th id
							%th First name
							%th Last name
							%th City
							%th
						- @patients.each do |patient|
							%tr
								%td #{patient.id}
								%td #{patient.first_name}
								%td #{patient.last_name}
								%td #{patient.city}
								%td
									=link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil") + ' Edit', edit_patient_path(patient),class: "btn btn-default btn-sm"
									=link_to content_tag(:span, "", class: "glyphicon glyphicon-asterisk") + ' Medical Treatments', medical_treatments_path(:locale => I18n.locale, :patient_id => patient.id),class: "btn btn-default btn-sm"