= link_to 'New Patient', new_patient_path

%table
	%tr
		%th id
		%th First name
		%th Last name
		%th
	- @patients.each do |patient|
		%tr
			%td #{patient.id}
			%td #{patient.first_name}
			%td #{patient.last_name}
			%td
				=link_to 'Edit', edit_patient_path(patient)
				=link_to 'Medical Treatments', medical_treatments_path(:locale => I18n.locale, :patient_id => patient.id)