.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					%h2 Patient Detail
				.panel-body
					.div_action
						.col-md-4
						.col-md-4.text-center
						.col-md-4.text-right
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + ' Back', payments_path, :class=>'btn btn-default'
						%table.table.table-bordered.table-hover.table-condensed.detail-table
							- generate_show_page_item 'Payment Type', @payment.medical_treatment.date
							- generate_show_page_item 'Date', @payment.paid_at
							- generate_show_page_item 'Payment Type', Payment::TYPE[@payment.payment_type]
							- generate_show_page_item 'Amount', @payment.amount