.container
  .row
    #flash-display
      - flash.each do |type, msg|
        %div{:class => get_flash_type_to_bootstrap_alert_class(type) + " fade", "data-dismiss" => "alert"}
          %button.close &times;
          = msg if msg.is_a?(String)
