%nav.navbar.navbar-default{:role => "navigation"}
	.navbar-header
		%a.navbar-brand{:href => "#"} Medical Office
	.collapse.navbar-collapse
		%ul.nav.navbar-nav
			%li.active
				%a{:href => "#"} Home
			%li
				%a{:href => "#"} Patient List
		%ul.nav.navbar-nav.navbar-right
			%li.dropdown
				%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
					%i.fa.fa-cog.fa-lg
					%b.caret
				%ul.dropdown-menu
					-unless current_user.office.nil?
						%li
							= link_to 'My Office', edit_office_path(current_user.office, :locale => I18n.locale)
					%li
						= link_to 'My Profile', edit_user_registration_path(current_user, :locale => I18n.locale)
			%li
				%a{:href => "#"} Logout


